<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>HelloServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AttrServlet1</servlet-name>
        <servlet-class>AttrServlet1</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AttrServlet2</servlet-name>
        <servlet-class>AttrServlet2</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ElementServlet1</servlet-name>
        <servlet-class>ElementServlet1</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ElementServlet2</servlet-name>
        <servlet-class>ElementServlet2</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LoopServletHTML</servlet-name>
        <servlet-class>LoopServletHTML</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LoopServletHTML2</servlet-name>
        <servlet-class>LoopServletHTML2</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LoopServletHTML3_1</servlet-name>
        <servlet-class>LoopServletHTML3_1</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LoopServletHTML3_2</servlet-name>
        <servlet-class>LoopServletHTML3_2</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RequestServlet</servlet-name>
        <servlet-class>RequestServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RequestLoopServlet</servlet-name>
        <servlet-class>RequestLoopServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>UploadServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ValidateServlet</servlet-name>
        <servlet-class>ValidateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ValidateServlet</servlet-name>
        <url-pattern>/servlet/ValidateServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/servlet/HelloServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AttrServlet1</servlet-name>
        <url-pattern>/servlet/AttrServlet1</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AttrServlet2</servlet-name>
        <url-pattern>/servlet/AttrServlet2</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ElementServlet1</servlet-name>
        <url-pattern>/servlet/ElementServlet1</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ElementServlet2</servlet-name>
        <url-pattern>/servlet/ElementServlet2</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoopServletHTML</servlet-name>
        <url-pattern>/servlet/LoopServletHTML</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoopServletHTML2</servlet-name>
        <url-pattern>/servlet/LoopServletHTML2</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoopServletHTML3_1</servlet-name>
        <url-pattern>/servlet/LoopServletHTML3_1</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoopServletHTML3_2</servlet-name>
        <url-pattern>/servlet/LoopServletHTML3_2</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RequestServlet</servlet-name>
        <url-pattern>/servlet/RequestServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RequestLoopServlet</servlet-name>
        <url-pattern>/servlet/RequestLoopServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/servlet/UploadServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
